<h1>Here is your shortened URL:</h1>
<div>
  <span id="short-url">{{shortId}}</span><button
    class="btn btn-terciary mx-2"
    type="button"
    id="copy"
  ><i class="bi bi-files"></i>
    Copy</button></div>
<script src="/js/main.js"></script>