* {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn-primary {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
  padding: 0 25px;
}
.btn:hover {
  background-color: #264653;
  border-color: #264653;
}
.btn-secondary {
  background-color: #e9c46a;
  border-color: #e9c46a;
}
.input-group {
  height: 60px;
  line-height: 60px;
}
a.short-url {
  color: #2a5bd7;
  text-decoration: none;
}
a.long-url {
  color: #273144;
  text-decoration: none;
}
.background-shape {
  position: absolute;
  top: -200px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 95%;
  height: calc(100% + 100px);
  background: #ffb703;
  background: linear-gradient(45deg, #e76f51 0%, #f4a261 50%, #f4a261 100%);
  background-position: 0% 0%;
  transform: skewY(-6deg);
  transform-origin: top left;
  overflow: hidden;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 100px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 100px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 100px;
  z-index: -1;
  margin: 0 auto;
}

.feature-box {
  display: block;
  text-align: left;
  left: 10px;
  width: 100%;
  max-width: calc(100% - 25px);
  color: #fff;
  border: 1px solid rgb(233 196 106 / 15%);
  -webkit-border-radius: 16px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 16px;
  -moz-border-radius-topleft: 0;
  border-radius: 16px;
  border-top-left-radius: 0;
  padding: 15px;
  background: rgba(233, 196, 106, 0.2);
  box-shadow: rgba(0, 0, 0, 0.1) 0 12px 26px -4px;
}
<<<<<<< HEAD
.text-one {
  animation-name: intro;
  animation-duration: 3s;
}
.text-two {
  animation-name: intro;
  animation-duration: 6s;
}
.text-three {
  animation-name: intro;
  animation-duration: 9s;
}

@keyframes intro {
  100% {
    opacity: 1; }
  0% {
    opacity: 0; }
}

.container-global{
  height: 100vh;
  margin: 0;
}
.container-list {
  width:70%;
}
.container-shorten{
  width: 500px;
  margin-top: 30px;
}
.input-group{
  width: 70%;
}
#urlForm{
  width: 100%;
}
#customUrl{
  width: 50%;
}
.form-width {
  width: 50%;
}
.profile{
  display: flex;
}