<h1>Oh, Snap - page not found</h1>
<p>Shiver me timbers! Thar's nothin' here, matey! Heave back to th’ isle
  smartly!</p>
  <img src="/image/error400.jpg" alt="pirate error"/>
<p>Or, in plain English, the page you're looking for is not here. This is
  totally your fault, FYI. But we can
  <a href="/help">help</a>! :)</p>
  <img  src="/image/erro409.jpg" alt=" pirate error" />
<a href="/" class="btn btn-primary">Go Back Home</a>