<div class="container">

  <form action="/register">
    <div class="mb-12">
      <label class="form-label">Paste a long URL link</label>
      <input
        type="text"
        class="form-control"
        id="longUrl"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="row g-3">
      <div class="col-auto">
        <label class="visually-hidden">urless.com</label>
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail2"
          value="urless.com"
        />
      </div>
      <div class="col-auto">
        <label class="visually-hidden">Your custom URL</label>
        <input
          type="text"
          class="form-control"
          id="customUrl"
          placeholder="Your custom URL"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Create URL</button>
      </div>
    </div>
  </form>
  <p id="short-url">Here is your shortened URL: <a href="<%= shortUrl %>"><%= shortUrl %></a></p>
</div>
<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const formData = new FormData(form); 
    try {
      const response = await fetch('/', {
        method: 'POST',
        body: formData
      });
      const data = await response.json(); // Convert the response to JSON
      // Handle the shortened URL in the response data
      if (!data.errors){
        console.log(data);
      } else {
        console.error(data);
      }
    } catch (error) {
      console.error('Error:', error);
    }
  });
</script>