<div class="row container-fluid mx-0">
  <div class="background-shape"></div>
  <div class="mb-0">
    <div class="container position-relative">
      <div class="row text-white">
        <div class="col-md-6">
          <h6>URL shortener</h6>
          <h1>Unleash total command of your abbreviated links</h1>
          <p class="text-one">The all-inclusive URL Shortener solution, Link Administration, Link
            Insights, Deep links, QR Codes Creator, and Link in Bio. Condense,
            personalize, handle, monitor, and effortlessly distribute your
            links.</p>
        </div>
        <div class="col-md-6">
          <div class="feature-box mb-3">
            <p class="text-two">
              Enhanced Link Management: Effortlessly organize and manage all
              your links in one centralized platform, improving accessibility
              and efficiency.
            </p>
          </div>
          <div class="feature-box mb-3">
            <p class="text-three">Detailed Link Analytics: Gain deep insights into the performance
              of your links, including click-through rates, geographical data,
              and user demographics.</p>
          </div>
          <div class="feature-box mb-3">
            <p>Streamlined Link Sharing: Simplify the process of sharing links
              across various channels while maintaining brand consistency and
              tracking engagement.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <form id="urlForm" method="post" action="/shorten">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="longUrl"
        name="longUrl"
        placeholder="Enter a long URL link here"
      />

      <button type="submit" class="btn btn-primary">Shorten</button>
    </div>
  </form>
  <a href="/register" class="btn btn-secondary"><i class="bi bi-stars"></i>End
    your link with words that will make it unique
  </a>
</div>