<div class="container">

  <form id="urlForm" method="post" action="/shorten">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="longUrl"
        name="longUrl"
        placeholder="Enter a long URL link here"
      />

      <button type="submit" class="btn btn-primary">Shorten</button>
    </div>
  </form>
  <a href="/register" class="btn btn-secondary"><i class="bi bi-stars"></i>End
    your link with words that will make it unique
  </a>
</div>
