<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img
        src="/image/urless.png"
        alt="Task Manager"
        width="200"
        class="d-inline-block align-text-top"
      /></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <p>Url shortener</p>
        </li>
      </ul>
      {{#if currentUser}}
        <a href="/my-account">My account</a>
        <form action="/logout" method="post">
          <button type="submit" class="btn">Logout</button>
        </form>
      {{else}}
        <div class="d-flex">
          <a
            href="/login"
            class="btn btn-outline-primary"
            type="button"
          >Login</a>
          <a href="/register" class="btn btn-primary" type="button">Register</a>
        </div>
      {{/if}}
    </div>
  </div>
</nav>