<h1>Hello {{user.username}}! welcome to the Dashbord</h1>
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">An active item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
<div>
  <form id="urlForm" method="post" action="/shorten">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="longUrl"
        name="longUrl"
        placeholder="Enter a long URL link here"
      />
      <div class="mb-3">
        <label for="basic-url" class="form-label">Your vanity URL</label>
        <div class="input-group">
          <span class="input-group-text" id="longUrl">https://urless.com/</span>
          <input
            type="text"
            class="form-control"
            id="longUrl"
            name="longUrl"
            placeholder="Custom url"
          />
        </div>
        <div class="form-text" id="basic-addon4">Example help text goes outside
          the input group.</div>
      </div>

      <button type="submit" class="btn btn-primary">Shorten</button>
    </div>
  </form>
</div>